<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<body ng-app="shopgo">
<hr/>
<!--<div class="container" ng-controller="IndexController">-->
<div ng-controller="IndexController">

    <!--<div class="row">-->
        <!--<label>User</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/>-->
        <!--<label>Skills</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing"-->
                                     <!--placeholder="use comma to separate skills"/>-->
        <!--<button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--<div class="row">-->
        <!--<p>{{allUsers | json}}</p>-->
        <!--<p>Hello</p>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--<div class="row" ng-repeat="user in allProduct">-->
        <!--<div class="">-->
            <!--<h3>{{user.userName}}</h3>-->
            <!--<span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<button ng-click="insertIndex()" class="btn-warning">good</button>-->


    <!--<div ng-repeat='product in artist.albums'>-->
        <!--<p style='text-indent: 20px'>-->
            <!--Album titled <b>{{ album.title }}</b> by-->
            <!--<b>{{ album.artist }}</b> contains-->
            <!--<b>{{ album.ntracks }}</b> tracks-->
        <!--</p>-->
    <!--</div>-->



</div>
<script src="assets/js/angular/angular.js"></script>
<script src="assets/js/angular/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="app/app.js"></script>
<script src="controllers/indexController.js"></script>
<script src="service/indexService.js"></script>
<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"/>
<!--<link rel="stylesheet" href="assets/css/app.css"/>-->
</body>
</html>
