<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
</head>
<body ng-app="demo">
<hr/>
<div class="container" ng-controller="UserController">
    <div class="row">
        <label>User</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/>
        <label>Skills</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing"
                                     placeholder="use comma to separate skills"/>
        <button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{allUsers | json}}</p>
        <p>Hello</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.userName}}</h3>
            <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>
        </div>
    </div>
</div>
<script src="assets/js/lib/angular.min.js"></script>
<script src="assets/js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="assets/js/app/app.js"></script>
<script src="controllers/indexController.js"></script>
<script src="service/indexService.js"></script>
<link rel="stylesheet" href="assets/css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="assets/css/app2.css"/>
</body>
</html>
